# Node.js
node_modules/
dist/
.cache/

# Logs & Config
logs/
*.log
.env
.env.local

# Docker

# intellij
.idea/


.env
.env.development
.env.production
/coverage/lcov-report/src/dao/domaine.dao.ts.html
/coverage/lcov-report/src/services/essaisEnvoiEmail.service.ts.html
/coverage/lcov-report/src/command/generateTokenOauth.ts.html
